<%- include('./header.ejs') %>
    <!-- hero -->
    <section id="hero">
        <div class="container">
            
            <div class="px-4 py-5 mt-5 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis">
                    ABOUT <span> Providence</span>
                </h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">
                        At Providence, we are committed to empowering students with knowledge, skills, and
                        values for a successful future.Our expert faculty and modern facilities ensure a supportive and
                        enriching learning environment.Join us to experience quality education that inspires growth and
                        excellence.
                    </p>
                </div>
            </div>
        </div>
        <center><hr style="width: 80%;"></center>

        <div class="container col-xxl-8 px-4 pb-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/Images/Class.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy" />
                </div>
                <div class="col-lg-6 ">
                    <h1 class="display-5 fw-bold text-body-emphasis  lh-1 mb-3">
                        LECTURE THEATER                    
                    </h1>
                    <p class="lead">
                      The institute features a fully air-conditioned, state-of-the-art Lecture Theatre designed to support advanced teaching and learning methods. Equipped with modern audio-visual aids and comfortable seating, it provides an ideal environment for seminars, guest lectures, and interactive sessions.
                    </p>
                </div>
            </div>
        </div>
        <center><hr style="width:80%;"></center>
        <div class="container col-xxl-8 px-4 pb-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                        AUDITORIUM
                    </h1>
                    <p class="lead">
                        The institute auditorium is a spacious hall designed for various events. It features a large
                        stage at the front, equipped with curtains and lighting for performances. The auditorium is also
                        equipped with sound systems for clear audio during events. Overall, it serves as a vibrant hub
                        for school activities.
                    </p>
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/Images/AUDITORIUM.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy" />
                </div>
            </div>
        </div>
        <center><hr style="width: 80%;"></center>
        
        <div class="container col-xxl-8 px-4 pb-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/Images/Campus.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy" />
                </div>

                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                        CAMPUS
                    </h1>
                    <p class="lead">
                        The Providence Institute campus offers a vibrant and inclusive environment designed to foster
                        learning and innovation.
                        With state-of-the-art facilities, green spaces, and modern infrastructure, our campus supports
                        both academic and personal growth.
                        It’s more than just a place to study — it’s a community where ideas thrive and futures are
                        shaped.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- End Hero -->

    <%- include('./footer.ejs') %>